@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Raleway:wght@100&display=swap');
@import "responsive.css";

@media (min-width: 320px) {
  #bottom, #top {
    display: none;}
} 

{margin:0;
padding:0;
}
body{
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:center;
	align-items: center;
/*	font-size: 3vw;
  line-height: 4vh;*/
  background-color: #eee;
  background: -webkit-linear-gradient(40deg, pink, blue);
  background: linear-gradient(40deg, pink, violet);
}

header{
  display: flex;
  /*flex-direction: column;*/
  position: fixed;
  /*justify-content: flex-start;*/
  top:0;
  margin: 0.5em;
  height :10%;
  font-size: 3vw;
  font-family: 'Catamaran', sans-serif;
  line-height: 3vh;
}

 .pokemon{
  text-align:center;
  align-items: center;
  justify-content: space-between;
  display:flex;
  flex-direction: column;
  /*font-size: 3vh;*/
  width: 60%;
  height:90%;
  background: -webkit-linear-gradient(40deg, yellow, red, yellow);
  background: linear-gradient(40deg, yellow, red, yellow);
  border-radius: 5%;
  box-shadow: 0 1em 2em rgba(100, 100, 100, 0.5);
  margin: 1em 1em 0em 1em;
  padding-top: 0;
}

button{
  width: 15vw;
  height: 5vh;
  margin: 1em;
  border-radius: 30em;
  background-color:   ;
}

img{
  display:flex;
  /*flex-wrap: nowrap;*/
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  height: 25vh;
  width :30vw;
  text-align: center;
  justify-content: center;
  align-items:center;
  margin: 0.5em 0 0.5em 0;
}

.pokemon .name{
/*  display:flex;
  flex-direction: column;*/
	font-size: 3vw;
  font-weight: bold;
  /*line-height: 1.3em;*/
  height: 8vh;
  margin: 0 0 1.5em 0;
}

.pokemon .details {
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  height: 40%;
  font-size: 2vw;
  margin: 0;
}




